# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Chroma database
chroma_db/

# Uploaded documents
documents/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Logs
*.log